<h2>Result Report</h2>
<!-- Result Report -->
<div class="container-fluid">
   <!--Sequence Analysis Frame-->
   <div class="row-fluid">
      <div class="span12 greyback" id='assembly'>
         <h3>Assembly Analysis</h3>
   <!-- - ->
         <h3>Sequence Analysis</h3>
         <table class="table table-condensed">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Sequence Reads File Name</th>
                  <th style="text-align:right;">Total Bases</th>
                  <th style="text-align:center;">Quality</th>
                  <th style="text-align:center;">Report</th>
               </tr>
            </thead>
            <tbody>
               <tr class="success">
                  <td>1</td>
                  <td>Unknown_sample_patient_1_001.fq</td>
                  <td style="text-align:right;">100000000</td>
                  <td style="text-align:center;">0.9</td>
                  <td style="text-align:center;"><a href='#'>FastQC Report</a></td>
               </tr>
               <tr class="warning">
                  <td>2</td>
                  <td>Unknown_sample_patient_1_002.fq</td>
                  <td style="text-align:right;">50000000</td>
                  <td style="text-align:center;">0.7</td>
                  <td style="text-align:center;"><a href='#'>FastQC Report</a></td>
               </tr>
               <tr class="error">
                  <td>3</td>
                  <td>Unknown_sample_patient_1_003.fq</td>
                  <td style="text-align:right;">10000000</td>
                  <td style="text-align:center;">0.2</td>
                  <td style="text-align:center;"><a href='#'>FastQC Report</a></td>
               </tr>
            </tbody>
         </table>
   <!-- -->
         <table class="table table-condensed">
            <thead>
               <tr class="head">
                  <th>Assembly File Name</th>
<!--                  <th style="text-align:right;">Total Bases</th>-->
<!--                  <th style="text-align:center;">Quality</th>-->
                  <th style="text-align:right;">N50</th>
                  <th style="text-align:center;">Report</th>
               </tr>
            </thead>
            <tbody>
                {{REPEAT:results.assembler%<tr class="warning"><td>{{REPEAT.contig_name}}</td><!--<td style="text-align:right;">4600000</td><td style="text-align:center;">0.8</td>--><td style="text-align:right;">{{REPEAT.N50}}</td><td style="text-align:center;"><a href='https://cge.cbs.dtu.dk/tools_new/client/platform/show_result.php?SID={{REPEAT.service_id}}'>Assembly Report</a></td></tr>%}}
            </tbody>
         </table>
      </div>
   </div>
   <div class="row-fluid">
      <!--Taxonomy Frame-->
      <div class="span12 greyback normpad">
         <h3>Taxonomy</h3>
         <dl>
            <dt>Predicted liniage:</dt>
            <dd>{{results.kmerfinder.liniage}}</dd>
         </dl>
         <dl class="dl-horizontal">
            <dt>Closest Match</dt>
            <dd>
               <i>{{results.kmerfinder.closest_match}}</i>
               <a class="label label-info" href='https://cge.cbs.dtu.dk/tools_new/client/platform/show_result.php?SID={{results.kmerfinder.service_id}}'><i class="icon-file icon-white"></i></a>
            </dd>
            <dt>Taxonomy ID</dt>
            <dd>{{results.kmerfinder.taxid_match}}</dd>
<!--            <dt>Query Coverage</dt>
            <dd>{{results.kmerfinder.coverage_query}}</dd>
            <dt>Match Coverage</dt>
            <dd>{{results.kmerfinder.coverage_match}}</dd>
            <dt>K-mer Overlap</dt><!-- Removed due to confusion - ->
            <dd>
               {{results.kmerfinder.kmers_hit}}/{{results.kmerfinder.kmers_template}} ({{results.kmerfinder.kmer_coverage}})
            </dd>-->
         </dl>
         <dl class="dl-horizontal">
            <dt>MLST Scheme[ST]</dt>
            <dd>
               {{REPEAT:results.mlst%<a class="badge badge-warning" href='https://cge.cbs.dtu.dk/tools_new/client/platform/show_result.php?SID={{REPEAT.service_id}}'>{{REPEAT.scheme_name}} [{{REPEAT.sequence_type}}]</a> %}}
            </dd>
            <dt>Plasmid[pMLST]</dt>
            <dd>
               {{REPEAT:results.plasmidfinder.unschemed%<a class="badge badge-warning" href='https://cge.cbs.dtu.dk/tools_new/client/platform/show_result.php?SID={{results.plasmidfinder.service_id}}'>{{REPEAT.plasmid}}</a> %}}
               {{REPEAT:results.pmlst%<a class="badge badge-warning" href='https://cge.cbs.dtu.dk/tools_new/client/platform/show_result.php?SID={{REPEAT.service_id}}'>{{REPEAT.scheme_name}} [{{REPEAT.sequence_type}}]</a> %}}
            </dd>
         </dl>
      </div>
      <!--Phylogeny Frame- ->
      <div class="span6 greyback">
         <h3>Phylogeny</h3>
         <img src="tree.png" class="img-polaroid">
         <a class="btn btn-info btn-small">Show an interactive tree</a>
      </div>
      <!-- -->
   </div>
   <div class="row-fluid">
      <div class="span12 greyback">
         <!--Pathogenicity Prediction Frame-->
         <h3>Pathogenicity Prediction</h3>
         <dl class="dl-horizontal">
            <dt>Pathogen Likelihood</dt>
            <dd>
               <span class="badge badge-warning">{{results.pathogenfinder.probability}}</span>
               <a class="label label-info" href='https://cge.cbs.dtu.dk/tools_new/client/platform/show_result.php?SID={{results.pathogenfinder.service_id}}'><i class="icon-file icon-white"></i></a>
            </dd>
         </dl>
         <div class="row-fluid">
            <div class="span6">
               <dl>
                  <dt>Resistance Genes <a class="label label-info" href='https://cge.cbs.dtu.dk/tools_new/client/platform/show_result.php?SID={{results.resfinder.service_id}}'><i class="icon-file icon-white"></i></a></dt>
                  <dd>
                     {{REPEAT:results.resfinder.db_hits%<span class="badge badge-warning">{{REPEAT.db_name}}</span><br>%}}
                  </dd>
               </dl>
            </div>
            <div class="span6">
               <dl>
                  <dt>Virulence Genes <a class="label label-info" href='https://cge.cbs.dtu.dk/tools_new/client/platform/show_result.php?SID={{results.virulencefinder.service_id}}'><i class="icon-file icon-white"></i></a></dt>
                  <dd>
                     {{REPEAT:results.virulencefinder.db_hits%<span class="badge badge-warning">{{REPEAT.db_name}}</span><br>%}}
                  </dd>
               </dl>
            </div>
         </div>
      </div>
   </div>
   <!--Outbreak Analysis Frame- ->
   <div class="row-fluid">
      <div class="span12 greyback">
            <h3>Outbreak Analysis</h3>
         <div class="row-fluid">
            <div class="span4">
               <!--Outbreak Details Frame- ->
               <dl class="dl-horizontal">
                  <dt>Likelihood</dt>
                  <dd><span class="badge badge-warning">60%</span></dd>
                  <dt>Severity</dt>
                  <dd><span class="badge badge-important">Deadly</span></dd>
               </dl>
               <h4>Frequent Isolation Source</h4>
               <img src="barchart.png" class="img-polaroid">
            </div>
            <div class="span8">
               <!--Outbreak Map Frame- ->
               <img src="map.png" class="img-polaroid">
            </div>
         </div>
      </div>
   </div>
   <!-- -->
</div>
<script>
   {{REPEAT:scripts.hide%   document.getElementById('{{REPEAT.id}}').style.display = "none";\n%}}
</script>
